@using X.PagedList;
@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;
@using System.Net;
@model IEnumerable<ISpan.Project_02_DessertStory.Admin.Models.EF.Order>

@{
    ViewData["Title"] = "List";
}

<h1 style="color:white">訂單</h1>

<p>
    @using (Html.BeginForm())
    {
        <label style="color:white">關鍵字:</label> @Html.TextBox("txtKeyword") <input type="submit" value="查詢" />
    }
</p>
<table class="table" style="width:auto;table-layout:fixed;">
    <thead>
        <tr>
            <th>
                買家姓名
            </th>
            <th>
                賣家姓名
            </th>
            <th>
                商品名稱
            </th>
            <th>
                金額
            </th>
            <th>
                訂單狀態
            </th>

            <th>
                連絡電話
            </th>

            <th>
                收貨地址
            </th>

            <th>
                訂單完成時間
            </th>

            <th>
                運送方式
            </th>
            <th>
                付款方式
            </th>

        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            string productNames = string.Join("<br>", item.OrderDetails.Select(od => WebUtility.HtmlEncode(od.Product.ProductName)));
            <tr>
                <td>
                    @item.Member.FirstName @item.Member.LastName
                </td>
                <td>
                    @item.Seller.FirstName @item.Seller.LastName
                </td>
                <td>
                    @Html.Raw(productNames)
                </td>
                <td>
                    @item.TotalPrice.ToString("N0")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderStatus)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.ContactNumber)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.ShipAddress)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.OrderDate)
                </td>

                
                <td>
                    @Html.DisplayFor(modelItem => item.ShipVia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PaymentMethod)
                </td>
            </tr>
        }

    </tbody>
</table>
<div style="background-color:white">
    @Html.PagedListPager((IPagedList)Model, p => Url.Action("List", new { page = p}))
</div>
